{% extends "portfolio/base.html" %}
{% load app %}
{% block content %}

<div class="row my-4">
    <div class="col-md-8">
        {% if keyword %}
            <h4 class="mb-4">「{{ keyword }}の検索結果」</h4>
        {% endif %}
        {% for post in post_data %}
            <div class="card mb-4">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="card-img-top index-img">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} <span class="small"> - {{ post.category }}</span></h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <div class="btn btn-warning">詳細</div>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date }} by {{ post.author }}
                </div>
                <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">このサイトについて</h5>
            <div class="card-body">
                <p class="mb-0">
                    投稿サイトです。
                    機能は随時追加していきます。
                </p>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">カテゴリ</h5>
            <div class="card-body">
                <div class="row">
                    {% for category in category_data %}
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'category' category %}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card my-4">
            <h5 class="card-header">検索</h5>
            <div class="card-body">
                <form method="get" action="{% url 'search' %}" class="inupt-group">
                    <input type="text" class="form-group form-control" name="keyword" placeholder="ブログを検索">
                    <button class="btn btn-warning ml-2" type="submit">検索</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-2">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{%  url_replace request 'page' page_obj.previous_page_number %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{%  url_replace request 'page' num %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{%  url_replace request 'page' page_obj.next_page_number %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}