{% extends "portfolio/base.html" %}
{% load app %}
{% block content %}
<div class="text-center my-5">
    <h5 class="card-header">検索</h5>
    <div class="card-body">
        <form method="get" action="{% url 'app_search' %}" class="inupt-group">
            <input type="text" class="form-group form-control" name="keyword" placeholder="商品を検索">
            <button class="btn btn-warning ml-2" type="submit">検索</button>
        </form>
    </div>
    {% if keyword %}
        <h4 class="mb-4">「{{ keyword }}の検索結果」</h4>
    {% endif %}
    <div class="row">
        {% for item in item_data %}
            <div class="col-lg-3 col-md-6">
                <div class="card img-thumbnail item-list mb-3">
                    <img src="{{ item.image.url }}" alt="" class="card-img-top card-auth2">
                    <div class="card-body text-center px-2 py-3">
                        <p class="mb-0 text-secondery">{{ item.category }}</p>
                        <h5 class="font-weight-bold">{{ item.title }}</h5>
                        <h4 class="font-weight-bold">{{ item.price }}円</h4>
                        <a href="{% url 'app_product' item.slug %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-2">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{%  url_replace request 'page' page_obj.previous_page_number %}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{%  url_replace request 'page' num %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{%  url_replace request 'page' page_obj.next_page_number %}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="text-center my-5">
    <a href="/" class="btn btn-primary">ホームに戻る</a>
</div>
{% endblock %}