{% extends "portfolio/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="my-5">
    <h3>注文内容を確認する</h3>
</div>

<form method="POST" id="payment-form">
    {% csrf_token %}
    <div class="row order">
        <div class="col-md-9">
            <div class="card px-4">
                <div class="card-body px-2 py3">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="font-weight-bold">お届け先住所</p>
                            <p class="font-weight-bold">※プロフィールより登録してください</p>
                            <p>名前 : {{ address_data.name }}</p>
                            <p>郵便番号 : {{ address_data.postal }}</p>
                            <p>住所 : {{ address_data.address }}</p>
                            <p>電話番号 : {{ address_data.phone }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-weight-bold">銀行振込</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center px-2 py-3">
                    <div class="mb-3">
                        <button class="btn btn-warning" type="submit">注文を確定する</button>
                    </div>
                    <p class="font-weight-bold">注文内容</p>
                    <p>商品の小計 :{{ order.get_total }}円</p>
                    <p>配送料 :0円</p>
                    <hr>
                    <p class="font-weight-bold text-danger">ご請求金額 :{{ order.get_total }}円</p>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}